
    BODY {
        background-color: #231E19;
	font-family: "Arial";
	font-size: 9pt;
	color: #C6BFA8;
	scrollbar-base-color: #79725D;
	scrollbar-arrow-color: #FFFFFF;
	margin: 0px;
    }

    INPUT {font-family: "Arial"; font-size: 9pt; color: #000000; background-color: #FFFFFF}
    SELECT {font-family: "Arial"; font-size: 9pt; color: #000000; background-color: #FFFFFF}

    TD {
	font-family: "Arial";
	font-size: 9pt;
	color: #C6BFA8;
       }

    A {
	cursor: pointer;
	color: #FFFFFF;
	text-decoration: none;
      }

    A:HOVER {
	text-decoration: underline;
    }

    .Header {
	color: #FFFFFF;
	font-weight: bold;
	padding-bottom: 6px;
	text-decoration: none;
    }

    .Avatar {
	border: #C6BFA8 double 3px;
	margin-width: 2px;
    }

    .LinkColor {
	color: #FFFFFF;
    }

    .Button {
	border: #C6BFA8 solid 1px;
	background-color: #231E19;
	font-family: Arial;
	font-size: 9pt;
	color: #C6BFA8;
	font-weight: bold;
    }

    .SubHeader {
	color: #FFFFFF;
	font-size: 9pt;
	font-weight: bold;
	border-bottom: #C6BFA8 solid 1px;
	border-top: #C6BFA8 solid 1px;
    }

	.H1Header {
		color: #FFFFFF;
		font-weight: bold;
		font-size: 14pt;
		padding: 0px;
		margin: 0px;
		spacing: 0px;
	}

	.H2Header {
		color: #FFFFFF;
		font-weight: bold;
		font-size: 9pt;
		padding: 0px;
		margin: 0px;
		spacing: 0px;
	}

